@model IEnumerable<App.GitHub.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Home";
}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_AllUsers", Model)
    </tbody>
</table>

<div class="d-grid gap-2 col-4 mx-auto">
  <button class="btn btn-outline-dark" id="btnCarregaUsuarios" type="button">Mais usuários</button>
</div>
<div class="d-flex justify-content-center">
    <img src="~/loading.svg" alt="Loading" id="loading" />
</div>

@section Scripts{
    <script>
        DetalhesDoUsuario();
        CarregarMaisUsuarios();
    </script>
}